# blivedm should be installed from source
# git+https://github.com/xfgryujk/blivedm.git
aiohttp
brotlicffi
fastapi
uvicorn
sqlalchemy
aiosqlite
pydantic
pydantic-settings
greenlet
pure-protobuf
loguru
tzdata
qrcode
pillow
